/* RESET GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}

main {
    position: relative;
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    color: hsl(301, 100%, 16%);
}

/* BACKGROUND */
section.background img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 40%;
    width: 40%;
}

section.background img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80%;
    width: 70%;
    margin-left: auto;
}

/* SECTION TITLE */
section.title {
    position: absolute;
    top: 15%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 30vw;
}

section.title h1 {
    line-height: 0.8em;
    font-size: 3.5em;
    font-weight: 600;
}

section.title p {
    margin-top: 1em;
    line-height: 1.2em;
    color: grey;
}

/* SECTION RATING */
section.rating {
    position: absolute;
    display: flex;
    flex-flow: column;
    right: 0;
    top: 15%;
    width: 45%;
}

p.star {
    padding: 1em;
    margin: 0.5em;
    width: 80%;
    background: rgba(255, 230, 255, 0.37);
    border-radius: 1em;
    font-weight: 500;
}

p.star span {
    margin-left: 1em;
}

p#prime {
    align-self: flex-start;
}

p#second {
    align-self: center;
}

p#third {
    align-self: flex-end;
}

/* SECTION CARDS */
section.cards {
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: space-between;
    height: 40vh;
}

section.cards div.card {
    background: hsla(301, 100%, 11%, 0.89);
    color: white;
    padding: 2em;
    width: 30%;
    height: fit-content;
    border-radius: 0.5em;
    line-height: 1.5em;
}

#card1 {
    align-self: flex-start;
}

#card2 {
    align-self: center;
}

#card3 {
    align-self: flex-end;
}

div.profil_head {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 1em;
}

img.profil_img {
    border-radius: 50%;
    width: 15%;
    margin-right: 1em;
}

.pink {
    color: pink;
}

/* LAPTOP 1440PX */
@media screen and (max-width: 1440px) {}

/* MOBILE 375PX */
@media screen and (max-width: 375px) {

    * {
        font-size: 1em;
    }

    main {
        width: 85%;
    }

    section.background img:first-child {
        width: 100%;
    }

    section.background img:last-child {
        height: 20%;
    }

    section.container section.title,
    section.container section.rating,
    section.container section.cards {
        position: static;
        width: 100%;
        flex-flow: column;
        height: auto;
        margin: 2em 0;
    }

    section.title {
        text-align: center;
        margin-top: 4em !important;
    }

    section.title h1 {
        font-size: 2.5em;
    }

    section.title p {
        line-height: 1.5em;
    }

    section.rating p.star {
        display: flex;
        flex-flow: column;
        width: 100%;
        text-align: center;
        line-height: 1.1em;
    }

    p#prime,
    p#second,
    p#third {
        align-self: center;
    }

    section.cards div.card {
        width: 100%;
        margin: 1em 0;
    }


    section.container {
        display: flex;
        flex-flow: column;
    }
}